{% extends "template.html" %}

{% block body %} 
<div class="card-body" >
    <form action="/video/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" class="form-control" placeholder="Moana">
        </div>
        <div class="input-group my-3">
            <div class="custom-file">
              <input type="file" name="videos" class="custom-file-input" multiple>
              <label class="custom-file-label" for="inputGroupFile01">Choose Video file</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" name="covers" class="custom-file-input" multiple>
              <label class="custom-file-label">Choose Cover file</label>
            </div>
        </div>
        <div class="input-group my-3">
            <div class="custom-file">
              <input type="file" name="posters" class="custom-file-input" multiple>
              <label class="custom-file-label">Choose Poster file</label>
            </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-success">UPLOAD</button>
      </form>
</div>



{% for movie in movies %}
    <div class="movie-card">
        <div class="movie-card-thumbnail">
            <video poster="/media/image/{{movie.poster}}" style="outline: none" preload="none"  width="230" preload="none" controls controlsList="nodownload">
                <source src="/media/video/{{movie.fileName}}" type="{{movie.mimeType}}">
                <track label="English" kind="subtitles" srclang="en" src="/media/caption/1575591741854_en.vtt" default>
                <!-- <track label="Chinese" kind="subtitles" srclang="en" src="/media/video/Avatar.cn.vtt" default> -->
            </video>
        </div>
        <div class="movie-card-info">
            <div class="movie-card-tile">
                    {{movie.title}}
            </div>
            <p>{{movie.description}}</p>
            <a href="/media/video/{{movie.fileName}}" class="btn btn-outline-light btn-sm" download="{{movie.title}}">DOWNLOAD</a>
        </div>
    </div>
    
{% endfor %}

{% endblock %}
